html
    head
        title Tweets
        style
            include style.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="/js/script.js")
    body
        each t in tweets
            div(class=t.read ? "tweet read" : "tweet", data-tweet-id=t.id.toString())
                img(class="avatar", src=t.au, alt=t.name) 
                div.byline 
                    span.name 
                        =t.name
                    span.handle @#{t.sn}
                div.timestamp
                    =t.ts
                div.text
                    =t.t
                ul.links
                    each l in t.urls
                        li.link
                            a(class="tweetLink", href=l, target="_new", data-tweet-id=t.id.toString()) 
                                =l
                div.shareTools
                    a.twitter(href="https://twitter.com/" + t.sn + "/status/" + t.id.toString(), target="_new")
        a.loadMore More
